/*opste*/
label{
    margin: 10px 0;
}

/*navigacija*/
.adm-header{
    background: #333;
}
.adm-meni{
    margin:0;
    background: transparent;
    border-color: transparent;
    border-radius: 0;
}
.adm-meni li{
    display: inline-block;
    position: relative;
}
.adm-meni a{
    display: block;
    padding: 12px 22px;
    color:#f8f8f8;
}
.adm-meni a:hover{
    background: #eee;
    color:#333 !important;
}
.adm-meni a:active{
    background: #eee;
    color:#333 !important;
}
.adm-meni a:focus{
    background: #eee;
    color:#333 !important;
}
.adm-meni a i{
    margin-left: 15px;
}
.adm-podmeni{
    background: #eee;
    width:auto;
}
.adm-podmeni a{
    width:200px;
    border-bottom: 1px solid #333;
    color:#333 !important;
}
.adm-podmeni a:hover{
    background: #333 !important;
    color:#f8f8f8 !important;
}

.adm-profil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 11px 0;
}
.adm-profil p{
    margin:0 10px 0 0;
    color:#f8f8f8;
}

/*blog*/
.blog-form h3{
    background: #946188;
    margin: 0;
    padding: 6px 12px;
    color: #f7ef6a;

}
.blog-form {
    border: 1px solid #946188;

}
.blog-form form {
    padding: 20px 30px;
}
.btn-ninca {
    background: #946188;
    color: #f7ef6a;
}

.adm-blog-list {
    padding: 25px;
    font-size: 14px;
}
.adm-blog-list ul{
    margin: 0;
}
.adm-tabs{
    padding:15px;
    background: #eee;
}
.adm-tabs-anal{
    padding:15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.adm-nav-tabs li.active a{
    background: #eee !important;
}

/*tiketi*/
.tiketi-novi{
    border:1px solid #ddd;
    padding: 0 20px 20px 20px;
}
.tiketi-novi h3{
    margin: 0;
    padding: 18px 0;
}
.adm-tiketi-novi-tipovi {
    margin-bottom: 10px;
    background: #bcbcbc;
}
.adm-tiketi-novi-par {
    padding: 10px;
    background: #ebebeb;
    font-weight: 700;
}
.btn-tiket {
    margin-top: 5px;
    background: #2ba019;
    color:#f7ef6a;
    border-color: #49274a;
    font-weight: 700;
}
.adm-tik-table th{text-align: center;}
.adm-tik-table td{text-align: center;}
.adm-tik-table h3{margin:0;padding:10px;}