/*OSNOVNA PODESAVANJA*/
@font-face {
    font-family: 'ubuntub';
    src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: 'ubuntubi';
    src: url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: 'ubuntui';
    src: url('/fonts/Ubuntu/Ubuntu-Italic.ttf');
}
@font-face {
    font-family: 'ubuntur';
    src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

ul{
    padding: 0;
    list-style: none;
    margin:0;
}
body{
    color:#1d2731;
    font-family: 'Ubuntu';
}
p{
    text-align: justify;
}
.front-header{
}
section{
    min-height: 700px;
}
a{
    text-decoration: none !important;

}
hr{
    border-color: #946188;
}

.container{
    height: auto;
}
.btn-primary{
    background: #946188;
    color:#f7ef6a;
    font-weight: 700;
    border-radius: 0;
    border:none;
}
.btn-primary:hover{
    background: #f7ef6a;
    color: #49274a;
}
.page-title{
    padding: 6px 20px;
    border-left:8px solid #946188;
    color: #49274a;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}


/*HEADER*/
#header-top{
    text-align: center;
    padding: 5px 0;
    color: #f7ef6a;
    background: #49274a;
}

#header-container{

}
.site-title{
    margin: 30px 0;
    font-weight: 700;
    color: #49274a;
}

.login-links{
    margin-top: 30px;
}
.login-links li{
    width: 180px;
    text-align: center;
    display: inline-block;
}
.login-links a{
    display: block;
    color:#f7ef6a;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 12px;
    background: #49274a;
    border-radius: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    z-index:111;
}
.log-user {
    padding: 10px 0;
    font-size: 16px;
    text-align: right;
    color: #49274a;
}
.log-user p{
    text-align: right;
    padding-left: 10px;
}
.log-user a{
    display: block;
    font-size: 16px;
    padding: 0 10px;
    color: #f7ef6a;
}
.log-user a:hover{
    color: #f7ef6a;
}

#meni-container{
    background: #f7ef6a;
    border-bottom: 5px solid #49274a;
    z-index:999;
}

.meni ul li{
    display:inline-block;
    position: relative;
}
.meni ul li a{
    display: block;
    padding: 15px 20px;
    color: #49274a;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-top:5px solid transparent;
}
.meni ul li a:hover{
    border-top:5px solid #49274a;;
}
.meni .input-group-addon{
    background: #49274a;
    color:#f7ef6a;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    padding: 6px 20px;
}
.meni input{
    border-radius: 16px;
}
.meni .input-group-addon:hover{
    color: #49274a;
    background:#946188;
}
.podmeni {
    display: none;
    position: absolute;
    left: 0;
    background: #49274a;
    width: 240px;
    z-index: 888;
    border-top: 5px solid #49274a;
}
.podmeni a{
    border-top:none !important;
    color: #f7ef6a !important;
}
.podmeni a:hover{
    background: #f7ef6a; !important;
    color: #49274a !important;
}
.meni-active-link{
    background: #49274a;
    color:#f7ef6a !important;
}
.social-bar {
    position: fixed;
    top: 33%;
    left: 0;
    z-index: 1111;
}
.sb-meni{
    background: #000;
    z-index: 1;
}
.sb-meni a{
    display: block;
    padding: 10px 0;
    width: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.sb-meni a:hover{
    opacity: 0.8;
}
.sb-meni a:nth-child(1) {
    background: #9c9c9c;
}
.sb-meni a:nth-child(2) {
    background: #46619C;
}
.sb-meni a:nth-child(3) {
    background: #55acee;
}
.sb-meni a:nth-child(4) {
    background: #cd201f;
}
.sb-meni a:nth-child(5) {
    background: #22de00;
}
.sb-promo{
    border: 1px solid #000;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -250px;
    z-index: -1;
    background: #000;
}
.promo-hide {
   position: absolute;
    top: 5px;
    right: 5px;
}
.sidebar-img {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
}
.sidebar-story {
    color: #49274a;
    border-bottom: 1px solid #946188;
    padding-bottom: 15px;
}
.sidebar h3 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    background-color: #49274a;
    color: #f7ef6a;
    font-weight: 700;
}
.blog-sidebar article{
    text-align: left;
    font-size: 12px;
    text-indent: 0;
}
.blog-sidebar-content{
    display: table;
}
.pull-right {
    padding: 5px;
}

/*NAVBAR*/
#meni-container-mobile {
    display: none;
}

/*FOOTER*/
.front-footer{
    background: #946188;
    border-top: 5px solid #49274a;
    padding: 20px 0;
}
.footer-trade{
    text-align: center;
    background: #49274a;
    color:#f7ef6a;
    padding: 6px 0;
}
.footer-links li{
    padding: 10px;
    border-bottom: 1px solid #f7ef6a;

}
.footer-links a{
    color:#f7ef6a;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

}
.footer-links a i{
    float: right;
}
.footer-links a:hover{
    color: #49274a;
}
.social li{
    display: inline-block;
    margin-right: 10px;
}
.social li a{
    display: block;
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 6px;
    color: #f7ef6a;
    text-decoration: none;
    border: none;
}
.social li a:hover{
    background: #f7ef6a;
    color: #49274a;
}


/*LOGIN REGISTRACIJA*/
.login-panel{
    margin-top: 70px;
    //background: #f7ef6a;
    border-radius: 6px;
    box-shadow: 3px 3px 8px #49274a;
}
.login-panel-heading{
    padding: 15px 0;
    margin: 0;
    text-align: center;
    background: #49274a;
    color: #f7ef6a;
    font-size: 22px;
    font-weight: 700;
}
.login-panel-body{
    padding: 30px 0;
}
.logged-links li {
    display: inline-block;
    margin-left: 10px;
}
.logged-links a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    font-size: 24px;
    background-color: #49274a;
    color: #f7ef6a;
}
.logged-links a:hover {
    background-color: #f7ef6a;
    color: #49274a;
}
.user{
    padding: 20px 30%;
}
.user img{
    border:1px solid #ddd;
}
.user h3{
    background: #49274a;
    color: #f7ef6a;
    padding: 8px;
    margin: 12px 0;
}
.user-dets{

}
.user-dets h3{
    margin: 0 0 10px 0;
    padding: 8px 16px;
    background: #f7ef6a;
}
.user-dets-list p{
    padding: 0 16px 10px 16px;
    border-bottom: 1px solid #946188;
    color:#946188;
    font-style: oblique;
    font-size: 16px;
}
.naslov {
    text-align: center;
    font-size: 30px;
}
.user-profile {

}
.ava-slika{
    margin-bottom: 20px;
}
.user-profile img{
    border: 1px solid #eee;
    margin:50px auto;
}
.user-profile p{
    padding: 10px;
}
.pod-meni {
    padding: 15px;
    border: 1px solid #dcdcdc;
    margin-bottom: 16px;
}
.upload-ava {
    padding: 0;
    border-color: transparent;
    box-shadow: none;
}
.submit-ava {
    background: #49274a;
    color: #f7ef6a;
    border: 1px solid #f7ef6a;
    border-radius: 2px;
    padding: 5px;
    font-size: 16px;
    width: 190px;
    margin-top: 20px;
}
.nickname {
    display: block;
    width: 100%;
    height: 30px;
    margin: none;
    padding: none;
    border: 1px solid #946188;
    font-size: 16px;
    color: #946188;
    background-color: #f7ef6a;
    box-sizing: border-box;
}
.edit-user{
    cursor: pointer;
}
.edit-user:hover{
    color:#eee;
    background: #555;
}
.pset-layout{
    margin-bottom: 25px;
}
/*POČETNA*/
.nin-tik {
    text-align: center;
}
.home-tip {
    box-shadow: #946188;
    font-size: 20px;
}

.ninca-prica-bold {
    font-size: 20px;
    padding:10px 20px;
    background: #eee;
}

.ninca-prica blockquote{
    color: #946188;
    font-style: italic;
    border-color: #946188;
}
.nin-prica a {
    color: #946188;
}
.nin-prica a:hover {
    color: #49274a;
}

.home-akad {
    text-align: center;
    padding: 10px;
}
.home-akad i {
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    background: #946188;
    color: #f7ef6a;
}
.home-akad p {
    text-align: center;
}
.home-tiket-layout{
    border:2px solid #946188;
}
.home-tiket-layout h3{
    margin: 0;
    padding: 10px 20px;
    color:#f7ef6a;
    background: #946188;
    font-weight: 700;
}
.home-tiket{
    box-shadow: none !important;
    margin-bottom: 0 !important;
}
.home-tips-par{
    border: none !important;
}
.home-owl{
    margin-top: 25px;
}
.home-tiket-button{
    width:100%;
}
.home-tips-layout{
    box-shadow: none !important;
    border:1px solid #49274a;
}
.home-akad-title{
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #49274a;
    border-bottom: 1px solid #49274a;
    color:#49274a;
    font-weight:700;
}
.home-akad a{
    color: #946188;
}
.home-akad a:hover {
    color: #49274a;
}
.klad-socc a{
    color: #946188;
}
.klad-socc a:hover {
    color: #49274a;
}
.home-blog {
    text-align: center;
    padding: 10px;
}
.home-blog i {
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    background: #946188;
    color: #f7ef6a;
}
.home-blog-title{
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #49274a;
    border-bottom: 1px solid #49274a;
    color:#49274a;
    font-weight:700;
}
.home-stat{
}
.home-stat h3{
    margin: 0;
    padding: 12px 16px;
    background: #49274a;
    color:#f7ef6a;
}
.home-stat li{
    border-bottom: 1px solid #946188;
    padding: 12px 16px;
}
.home-stat em{
    color: #946188;
    padding: 0 !important;
}

/*BLOG*/
.blog-part{
    margin: 15px 0;
}
.blog-part-min{
    box-shadow: 3px 3px 6px #777;
    padding: 15px 20px;
}
.blog-ninca{
    position: relative;
}
.blog-ninca-title{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background: rgba(0,0,0,0.6);
    color:#fff;
    z-index: 2222;
}
.blog-title{
    margin:10px 0;
    font-size: 24px;
    font-weight: 700;
}

.blog-title-min{
    margin:0 0 10px 0;
    font-size: 28px;
    font-weight: 700;
}
.blog-subtitle{
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}
.blog-part a{
    color: #49274a;
}
.blog-part a:hover{
    color: #946188;
}
.blog-part img:hover{
    opacity: 0.9;
}
.blog-text{
    text-align: justify;
    text-indent: 30px;
}
.blog-single-list-lay {
    padding: 5px;
    background: #fff;
    margin-bottom: 10px;
    border:1px solid #49274a;
}
.blog-single-list{
    position: relative;
}
.blog-single-list article{
    padding: 6px 12px;
    position: absolute;
    width:100%;
    bottom: 0;
    left:0;
    background: rgba(255,255,255,0.7);
}
.blog-single-list h3{
    margin: 8px 0;
    color:#49274a;
    font-size: 20px;
}
.blog-single-list-lay:hover{
    background: #f7ef6a;
}
.blog-single-list-title{
    margin: 0 0 10px 0;
    font-size: 20px;
    padding: 10px;
    background-color: #49274a;
    color: #f7ef6a;
    font-weight: 700;
}
.blog-single-list p{
    color:#49274a;
}


.blog-single {
    font-size: 20px;
}

.blog-single-img{
    position: relative;
    max-height: 500px;
    overflow-y: hidden;
}
.blog-single-title{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 30px;
    background: rgba(0,0,0,0.6);
    color:#f8f8f8;
    margin: 0;
    width: 100%;
    font-weight:700;
    font-size: 32px;
}
.blog-single-autor{
    width:90px;
    height:90px;
    position: absolute;
    top:25px;
    left:25px;
    border-radius: 50%;
    background: #eee;
}
.blog-single-vreme{
    position: absolute;
    top:25px;
    right:25px;
    color:#fff;
}
.blog-single-vreme i{
    font-size: 80px;
}
.blog-single-vreme strong{
    position: absolute;
    top:35px;
    left:8px;
    text-align: center;
}
.blog-single-tekst{
    margin: 20px 0;
    padding-left: 30px;
    border-left: 5px solid #f7ef6a;
}
.blog-sidebar-content a{
    display: table-cell;
    width: 25%;
}
.blog-sidebar-content article{
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}
.blog-sidebar {
    border-bottom: 1px solid #49274a;
}
.blog-sidebar-title {
    margin: 0 0 10px 0;
}
.blog-sidebar-title a{
    font-size: 18px;
    color: #49274a;

}
.blog-sidebar-title a:hover {
    color: #946188;
}
.koment{

}
.koment button{
    margin: 15px 0;
}
.koment-users{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
}
.koment-title{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.koment-text{
    padding: 10px 20px;
    font-style: italic;
    text-align: justify;
}

.koment-users img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 15px;
}
.blog-single-nocom{
    margin: 10px 0 20px 0;
    font-style: italic;
}
.ninca-prica{
    font-size:16px;
}
.ninca-prica img{
    margin: 20px auto;
}
.embed-responsive{
    margin: 20px 0;
}


    /*TIPOVI*/
.tiket {
    margin-bottom: 10px;
    background: #f7ef6a;
    box-shadow: 2px 2px 6px #946188;
    font-size: 16px;
    padding: 30px 20px 20px 20px;
    position: relative;
}
.tiket-content {
    margin-top: 10px;
}

.tiket-table tbody > tr > th{
    border-color: #946188;
}
.tiket-table tbody > tr > td{
    border-color: #946188;
}
.tiket h1{
    text-align: center;
}
.tiket-baner {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}
.tiket-baner p {
    font-size: 22px;
    color: #fff;
    position: absolute;
    top: 41px;
    left: 130px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
}
.tiket-vreme {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 12px;
}
.tiket-vreme p{
    margin-bottom: 5px;
}
.tiket-3 {
    margin-bottom: 30px;
}
.tiketi-dani {
    margin: 10px 0;
    text-align: right;
}
.tiket-dan-active {
    background: #f7ef6a !important;
    color: #946188 !important;
}

.osnovni-pod {
    font-size: 15px;
}
.tiket-worning {
    font-size: 12px;
    font-style: italic;
}


/*analize*/
.tips-layout{
    padding: 15px 30px;
    position: relative;
    box-shadow: 1px 1px 3px #946188;
    margin-bottom: 15px;
}
.tips-datum{
    position: absolute;
    top:0;
    left:0;
    padding: 12px 24px;
    background: #49274a;
    color:#f7ef6a;
    font-size: 16px;
    font-weight: 700;
    border-radius:0 0 14px 0;
}
.tips-datum .fa-clock-o{
    margin-left: 20px;
}
.tips-par{
    margin-top:60px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}
.tips-par a{
    display: block;
    font-size: 36px;
    color:#49274a;
    line-height: 0;
}
.tips-par a:hover{
    color:#946188;
}
.tips-par img{
    height: 36px;
    margin-right: 20px;
    display: inline-block;
}
.tips-par span {
    display: inline-block;
}
.tips-klad{
    position:absolute;
    top:15px;
    right:30px;
}
.tips-profil{
    position: absolute;
    bottom:25px;
    right:30px;
    font-size: 18px;
    display:flex;
    justify-content: center;
}
.tips-profil-img img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.tips-yield{
    margin-left: 10px;
    font-size: 32px;
    color: #43bf1f;
}
.tips-dets{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.tips-dets-igra{
    padding: 10px;
    border:2px solid #946188;
    color:#946188;
    font-size: 24px;
    margin-right: 20%;
}
.tips-dets-kvota{
    color:#49274a;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 1px #49274a;
}
.tips-over{
    margin: 20px 0;
}
.tips-over h3{
    padding: 10px 20px;
    background: #49274a;
    color:#f7ef6a;
    margin: 0;
}
.tips-over img{
    width: 20px;
}
.tips-over .fa-check{
    color:green;
}
.tips-over .fa-times{
    color:red;
}
.tips-over .fa-circle{
    color:orange;
}

.tip-boxes{
    padding: 10px 0;
    text-align: center;
    color:#fff;
}
.tip-boxes p{
    font-size: 20px;
    text-align: center;
}
.tip-boxes i{
    font-size: 56px;
}
.tip-times{
    background: #49274a;
}
.tip-dets{
    background: #946188;
}
.tip-text{
    text-align: justify;
    text-indent: 30px;
    font-size: 18px;
}
.tip-kvota{
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 100px;
}
.tip-kvota-broj{
    position: absolute;
    bottom:-35px;
    left:0;
    width: 100%;
    text-align: center;
}
.tip-kvota-broj span{
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 700;
    border-radius:50%;
    border: 2px solid #49274a;
    background: #fff;
    color:#49274a;
}
.tip-profil{
    font-size: 24px;
    line-height: 0;
}
.tip-profil img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.tip-profil-suc{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.tip-ostalo{
    margin-bottom: 20px;
}
.tip-ostalo .tab-pane{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 200px;
    padding: 15px;
}
.tip-ostalo .nav a{
    font-size: 18px;
    font-weight: 700;
    color:#49274a;
}
.tip-ostalo .nav a:hover{
    background: #f7ef6a;
}

.analize-filteri{
    padding: 6px 20px;
    background: #946188;
    margin-bottom: 15px;
}
.analize-filteri select{
    border-radius: 0;
}

/*AKADEMIJA*/
.akl {
    background: url('/images/sb.png') no-repeat top right;
    padding-right: 294px;

}
.o-klađenju {
    text-align: justify;
}
.lepabrena{
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.klad {
    height: 300px;
    overflow-y: hidden;
    position: relative;
    margin-top: 10px;
}
.klad h1{
    position: absolute;
    bottom: 20px;
    left:20px;
    color: #49274a;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;

}
.klad-text {
    margin-top: 20px;
}
.sigurno {
    box-shadow: 1px 1px 5px #777;
    margin-bottom: 20px;
}
.rizik {
    box-shadow: 1px 1px 5px #777;
    margin-bottom: 20px;
}

/*INFO*/
.vesti-info a {
    font-size: 18px;
}
.kont-info {
    margin-bottom: 20px;
}


/**PAGINACIJA**/
.pagination{
    margin: 0;
    float: right;
}
.pagination li span{
    border-radius:0 !important;
}
.pagination li a{
    border-radius:0 !important;
}
.pagination li span{
    background: #49274a;
    color: #f7ef6a;
    border:none;
}
.pagination li a:hover{
    color:#49274a;
    background: #f7ef6a;
}
.pagination li a{
    background: #49274a;
    color: #f7ef6a;
    border:none;
}
.pagination .disabled span{
    background: #49274a;
    color: #f7ef6a;
    border:none;
}
.pagination .disabled span:hover{
    color:#49274a;
    background: #f7ef6a;
}
.pagination .active span{
    color:#49274a !important;
    background: #d9b310 !important;
}


/*MOBILNI DOTERIVANJE*/

.site-title-mobile {color: #49274a; font-size: 24px;}
.meni-container-mobile .navbar-default .navbar-nav > li > a {color: #49274a;}
.meni-container-mobile .navbar-default .navbar-nav .dropdown-menu > li > a {color: #49274a;}
.meni-container-mobile .navbar-default .navbar-nav > li > a:hover {color: #946188;}
.meni-container-mobile .navbar-default .navbar-nav .dropdown-menu > li > a:hover {color: #946188;}
.navbar-toggle {background: #49274a; color: #d9b310}

.meni-container-mobile .navbar {background: #f7ef6a; color: #49274a;}
/*MEDIA QURIES*/
@media (max-width: 990px){
    #meni-container-mobile {display: block;}
    #meni-container {display: none;}
    .yes-mobile {display: none;}

}